@tailwind base;
@tailwind components;
@tailwind utilities;

/* milkdown editor overrides */
body {
  @apply bg-white;
}
.wrapper {
  display: inline-flex;
  min-height: 100vh;
}
.collectionSelect__control {
  @apply bg-stone-100 !important;
}
.collectionSelect__value-container {
  @apply bg-stone-100 !important;
}
.collectionSelect__option {
  @apply hover:bg-cyan-200 active:bg-cyan-500 !important;
}
.collectionSelect__indicators {
  @apply bg-stone-100 !important;
}
.milkdown {
  @apply max-w-[1440px] my-8 font-sans shadow-none !important;
}
.editor {
  @apply p-12 !important;
}
.editor p {
  @apply m-0 !important;
}
.heading {
  @apply font-bold !important;
}
.code-fence {
  @apply border border-stone-300 dark:bg-stone-900 dark:border-stone-800 !important;
}
.emoji {
  @apply inline !important;
}
.icon {
  @apply scale-75;
}
/* custom list styles */
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.task-list-item label span {
  animation-name: bounce;
  animation-duration: 0.5s;
  @apply text-cyan-500;
}
